@import '~application.styl';

search-posts-controller {
  .autocomplete-row {
    text-align: center;
  }
  .preloader-row {
    text-align: center;
    font-size: 0.8em;
  }
  .search-preloader {
    display: inline-block;
    .preloader-wrapper {
      margin: 1em 0;
    }
  }
  .search-results-row {
    text-align: center;
    background: $color-black;
    margin-top: 2em;
  }
}
