@import '~application.styl';

mixcloud-controller {
  .form-row {
    text-align: center;
  }
  #mixcloud_url_form {
    width: 80%;
    display: inline-block;
    text-align: left;
  }
  .form-label {
    color: $color-gray-dark;
    cursor: pointer;
    display: block;
    font-size: 0.7em;
  }
  .mg-input {
    border-radius: 3px;
    height: 4.5em;
    border: 3px solid $color-gray-light;
    box-shadow: none;
    width: 100%;
    margin-top: 0.8em;
    padding-left: 1em;
  }
  .mg-input::-webkit-input-placeholder {
    color: $color-gray;
  }
  #mixcloud_url_form.valid {
    .mg-input {
      border-color: #ffd800;
    }
  }
  #mixcloud_url_form.invalid {
    position: relative;
    &:before {
      content: 'invalid link';
      position: absolute;
      top: 100%;
      font-size: 10px;
      color: white;
      background: #ff5252;
      left: 15px;
      margin-top: -2px;
      padding: 2px 15px;
      border-radius: 3px;
    }
    .mg-input {
      border-color: #FF5252;
    }
  }
  .mixcloud-tracklist-preloader {
    font-size: 50px;
    margin-top: 50px;
    color: #ffd800;
  }
}
