<div class="row info-block">
    <div class="mixcloud-set-picture">
        <img src="${scope.image}"/>
    </div>
    <div class="mixcloud-set-info">
        <div class="row mixcloud-set-title">
            <span>
                ${scope.title}
            </span>
        </div>
        <div class="row mixcloud-set-keywords">
            ${scope.each_artist((artist) =>`
            <span>${artist}</span>
            `)}
        </div>
    </div>
</div>
<div class="row track-list">
    <div class="row track-line tracklist-header">
        <span></span>
        <span>Starts</span>
        <span>Artist</span>
        <span>Song</span>
        <span>Search</span>
    </div>
    ${scope.each_track((track) =>`
    <div class="row track-line">
        <span class="preview-wrapper" data-index="${track.index}"></span>
        <span>${scope.format_position(track.start_time)}</span>
        <span>${track.artist}</span>
        <span>${track.title}</span>
        <span>
            <a class="search-link vk-link" target="_blank" href="https://vk.com/audio?q=${track.artist} - ${track.title}">
                <i class="mg-icon icon-vk"></i>
            </a>
        </span>
        <span>
            <a class="search-link sk-link" target="_blank" href="https://soundcloud.com/search/sounds?q=${track.artist} - ${track.title}">
                <i class="mg-icon icon-soundcloud"></i>
            </a>
        </span>
        <!--<span>-->
            <!--<a class="search-link mk-link" target="_blank" href="https://www.mixcloud.com${track.track_url}">-->
                <!--<i class="mg-icon icon-mixcloud"></i>-->
            <!--</a>-->
        <!--</span>-->
    </div>
    `, (track) =>`
    <div class="row track-line">
        <span>${scope.format_position(track.start_time)}</span>
        <span>${track.chapter}</span>
    </div>
    `)}
</div>
