tag-form {

  #tag_search_input {
    border-radius: 3px;
    height: 50px;
    border: 3px solid #f1f1f1;
    box-shadow: none;
  }
  #tag_search_input::-webkit-input-placeholder {
    color: #bfbfbf;
  }

  .delete-tag {
    padding: 10px;
  }
  .tag-list, .tag-bar {
    margin-left: 0;
    margin-top: 15px;
    list-style: none;
    li {
      min-width: 10%;
      display: inline-block;
    }
    label {
      font-size: 11px;
      display: inline-block;
      padding: 0;
      margin: 5px;
      padding: 10px 15px;
      border: 1px solid #d8d8d8;
      border-radius: 3px;
    }
    .tag-label {
      color: #333;
      margin-right: 5px;
    }
    .tag-count {
      color: #999;
    }
    input {
      margin-right: 5px;
    }
  }
  .tag-list-hint {
    font-size: 11px;
    color: #999;
    margin-left: 5px;
  }
  .tag-list.short {
    .tag-block:nth-of-type(n+41){
      display: none;
    }
    ~ .show-short-list {
      display: none;
    }
  }
  .tag-list.hide-toggler {
    ~ .show-short-list {
      display: none;
    }
    ~ .show-all-tags {
      display: none;
    }
  }
  .tag-list .delete-tag {
    display: none;
  }
  .tag-bar .tag-block {
    .tag-wrapper {
      background: #f2f2f2;
      border: none;
      padding: 0;
    }
    .tag-label {
      color: #929292;
      display: inline-block;
      padding: 10px 0 10px 15px;
    }
    .tag-count {
      display: none;
    }
    .delete-tag {
      color: #929292;
      padding-right: 15px;
    }
    .delete-tag:hover {
      color: #333;
      font-weight: 700;
    }
  }

  .alphabet-wrapper {
    background: #333;
    text-align: center;
  }
  .alphabet-list {
    display: inline-block;
    margin: 0;
    .letter_searcher {
      display: none;
    }
    li {
      margin: 0;
    }
    li label {
      padding: 10px;
      text-transform: uppercase;
      font-weight: 500;
    }
    li .alphabet-letter {
      color: white;
    }
    .letter_searcher:checked ~ .alphabet-letter {
      color: yellow;
    }
  }
  .more-tags-row {
    margin-bottom: 50px;
  }
  .more-tags-wrapper {
    height: 30px;
    display: inline-block;
    width: 30px;
    border-radius: 15px;
    position: relative;
    background: #ffd800;
    cursor: pointer;
    i {
      position: absolute;
      width: 100%;
      font-size: 20px;
      text-align: center;
      top: 5px;
      color: white;
    }
  }
}
