tag-form {
  .tag-list {
    margin-left: 0;
    margin-top: 15px;
    list-style: none;
    li {
      width: 20%;
      float: left;
    }
    label {
      font-size: 11px;
    }
    input {
      margin-right: 5px;
    }
  }
}
