<form>
  <div class="row">
    <div class="large-12 columns">
        <input type="text" id="tag_search_input" placeholder="e.g.: punk"/>
    </div>
  </div>
  <div class="row">
      <div class="large-12 columns">
          <ul class="tag-bar">
          </ul>
      </div>
  </div>
  <div class="">
      <div class="">
          <ul class="inline-list alphabet-list">
              <li>
                  <label>
                      <input checked class="letter_searcher" type="radio" name="letter_checker" value=" "/>
                      <span class="alphabet-letter">
                          all
                      </span>
                  </label>
              </li>
              ${scope.each_letter(letter => `
              <li>
                  <label>
                      <input class="letter_searcher" type="radio" name="letter_checker" value=" ${letter}"/>
                      <span class="alphabet-letter">
                          ${letter}
                      </span>
                  </label>
              </li>
              `)}
          </ul>
          <style is="count-filter" id="tags_limiter" interval="50"></style>
          <style is="query-filter" id="search_query" operator="*"></style>
          <style is="query-filter" id="search_by_letter" operator="^"></style>
          <ul id="taglist" class="tag-list">
          </ul>
          <span class="button success tiny radius show-more-tags">And many others...</span>
    </div>
  </div>
</form>
