<short-stat>
    <div class="row" id="stat_container">
        <div class="large-12 columns">
            <div data-alert class="alert-box success radius text-center">
                Yo! We have
                <strong id="total_posts_count">
                    <i class="demo-icon icon-spin3 animate-spin"></i>
                </strong>
                awesome, carefully stollen from different blogs, posts for you.
                <br/>
                Just get the random one and check it out.
                <br/>
                Download links are included.
            </div>
        </div>
    </div>
</short-stat>
<div class="row">
    <div class="large-12 columns">
        <a href="#" id="random_post_button" class="button expand page-centered">
            Get random post
            <i id="random_post_spinner" class="demo-icon icon-spin3 animate-spin hidden"></i>
        </a>
    </div>
</div>
<div class="row">
    <posts-controller></posts-controller>
</div>
