<short-stat>
    <div class="messages-wrapper" id="stat_container">
        <div class="row primary-message-wrapper">
            <div class="primary-message">
                Yo! We have
                <strong id="total_posts_count">
                    <i class="demo-icon icon-spin3 animate-spin"></i>
                </strong>
                awesome, carefully stollen from different blogs, posts for you.
            </div>
        </div>
        <div class="row secondary-message-wrapper">
            <div class="secondary-message">
                Just get the random one and check it out.
                Download links are included.
            </div>
        </div>
    </div>
</short-stat>
<div class="post-block-wrapper">
    <div class="row button-row">
        <a href="#" id="random_post_button" class="button random_post_button">
            Get random post
        </a>
    </div>
    <div class="row preloader-row">
        <mighty-preloader/>
    </div>
    <div class="row post-row">
        <posts-controller></posts-controller>
    </div>
    <span class="next-button random_post_button">
        <span>next</span>
    </span>
</div>
