posts-gallery-controller {
  text-align: center;
  .posts-thumbnails-row {
    max-width: 860px;
    display: inline-block;
    text-align: left;
  }
  .preloader-row, .load-more-button-row {
    text-align: center;
    padding: 1em 0;
    }

  .posts-gallery-table {
    text-align: center;
  }


  post-thumb {
    display: inline-block;
    width: 33%;
    padding: 1em;
  }
}
