@import '~application.styl';

login-bar {
  cursor: pointer;
  position: relative;
  label {
    cursor: pointer;
  }
  .login-bar-wrapper {
    height: 100%;
  }
  .login-bar-name {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    i {
      display: inline-block;
      vertical-align: top;
      transition: transform .2s ease-in;
    }
  }
  .login-bar-avatar {
    display: inline-block;
    height: 100%;
    margin-right: 0.5em;
  }
  img {
    height: 75%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  .user-submenu-toggler {
    display: none;
    &:not(:checked) ~ .user-submenu {
      display: none;
    }
    &:checked ~ * .login-bar-name i {
      transform: rotate(180deg);
    }
  }
  .user-submenu {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0;
    text-align: right;
    background: $color-black-alt;
    color: $color-white-primary;
    .user-submenu-item {
      white-space: nowrap;
      margin: 0 !important;
      float: none !important;
      display: block !important
      padding: 0 3em;
      border-bottom: 1px solid $color-black;
    }
  }
}
