<label>
${scope.auth ? `
    <input type="checkbox" class="user-submenu-toggler">
    <span class="login-bar-wrapper menu-item-label">
        <span class="login-bar-avatar">
            <img class="" src="${scope.user.picture.data.url}"/>
        </span>
        <span class="login-bar-name">
            ${scope.user.first_name}
            <i class="mg-icon icon-angle_down submenu-toggler-icon"></i>
        </span>
    </span>
    <ul class="user-submenu">
        <li class="user-submenu-item">
            <a class="menu-item-label" href="/user/profile">Profile</a>
        </li>
        <li class="user-submenu-item user-logout-button">
            <span class="menu-item-label">Logout</span>
        </li>
    </ul>
` : `
    <span class="menu-item-label auth-button">
        Login / Sign Up
    </span>
`}
</label>
