
@import '~application.styl';

itunes-widget {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-table;
    border-collapse: separate;
    border-spacing: 0 0.7em;
    width: 100%;
  }
  .track-list-track {
    font-size: 0.7em;
    display: table-row;
  }
  .position, .artist, .title, .separator, .play-pause-button-wrapper {
    display: table-cell;
  }
  .play-pause-button-wrapper {
    width: 1.6em;
  }

  .play-pause-button {
    display: block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    border: 1px solid;
    border-radius: 1em;
    cursor: pointer;
    color: $color-gray-track-label;
    &:before {
      font-size: 0.6em;
    }
  }

  .position, .title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
  }
  .position {
    color: $color-gray-track-digit;
    text-transform: uppercase;
    width: 2em;
  }
  .artist {
    color: $color-gray-track-label;
    white-space: nowrap;
  }
  .separator {
    padding: 0 0.5em;
    color: #666;
  }
  .title {
    color: $color-gray-track-label;
  }

  .itunes-link {
    cursor: pointer;
    i {
      color: white;
      background: #666;
      font-size: 1.5em;
      border-radius: 0.15em;
      &:before {
        margin-left: -1px;
      }
    }
  }
}
