//colors

$color-black = #2f2f2f;
$color-black-secondary = #2a2a2a;

$color-yellow-primary = #ffd900;
$color-yellow-secondary = #ffe10b;

$color-white-primary = #fff;

$color-gray = #9a9a9a;
$color-gray-light = #f2f2f2;
$color-gray-dark = #837b7b;
$color-gray-border = #e8e8e8;
$color-gray-track-digit = #cdcdcd;
$color-gray-track-label = #666;


bold-text = @block {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
