//colors

$color-black = #2f2f2f;

$color-yellow-primary = #ffd900;
$color-yellow-secondary = #ffe10b;

$color-white-primary = #fff;

$color-gray = #9a9a9a;
$color-gray-light = #f2f2f2;
$color-gray-dark = #837b7b;

