@import '~application.styl';

user-profile-controller {
  .coming-soon-message {
    margin-top: 6em;
    width: 100%;
    text-align: center;
    color: $color-black;
    text-transform: uppercase;
    {bold-text}
    font-size: 0.9em;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.3em;
    display: inline-block;
  }
}
