search-controller {

  .params-row {
    text-align: center;
  }

  .search-form {
    display: inline-block;
    width: 100%;
    max-width: 1200px;
  }

  .row {
    margin-bottom: 1em;
    display: inline-block;
    text-align: center;
  }

  .ceil {
    display: inline-block;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 0.5em;
  }

  .code-ceil {
    width: 40%;
  }

  .year-ceil {
    width: 20%;
  }

  input {
    border-radius: 3px;
    height: 2.5em;
    border: 3px solid #f2f2f2;
    box-shadow: none;
    width: 100%;
    font-size: 1em;
    padding: 0.3em 1em;
    //width: 90%;
    display: block;
    width: 100%;
  }

  .search-button-row {
    display: inline-block;
  }


  @media (max-width: 768px) {
    //.code-ceil {
      //width: 50%;
    //}

    //.release-title-ceil, .artist-ceil, .year-ceil {
      //width: 100%;
    //}

    .ceil {
      width: 100%;
    }

    .release-title-ceil, .year-ceil, .catno-ceil {
      margin-top: 1em;
    }
  }
}
