<div class="row params-row">
    <form ref="form">
        <input name="barcode" placeholder="barcode" ref="barcode" value="${scope.barcode || ''}">
        <input name="catno" placeholder="catno" ref="catno" value="${scope.catno || ''}">
        <input name="artist" placeholder="artist" ref="artist" value="${scope.artist || ''}">
        <input name="year" placeholder="year" ref="year" value="${scope.year || ''}">
        <input name="release_title" placeholder="release title" ref="release_title" value="${scope.release_title || ''}">
        <button type="submit" ref="search">search</button>
    </form>
</div>
<div class="row preloader-row">
    <mighty-preloader class="search-preloader" ref="preloader"></mighty-preloader>
</div>
<div class="row results-row" ref="results">
</div>
