post-item {
  .tags {
    padding: 15px;
  }
  .tag-label {
    margin: 5px;
  }
  .images {
    text-align: center;
  }
  .url {
    text-align: right;
    padding-right: 3px;
  }
  .original-post-link {
    font-size: 11px;
  }
}
