@import '~application.styl';

post-item {
  .post-item-wrapper {
    width: 80%;
    display: inline-block;
    max-width: 40em;
    margin-top: 3em;
    margin-bottom: 3em;
    background: $color-white-primary;
    border-radius: 5px;
    padding: 2em;
  }
  .item-left {
    width: 40%;
    display: inline-block;
  }
  .images {
    width: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .item-right {
    width: 59%;
    display: inline-block;
    vertical-align: top;
  }
  .item-content-wrapper {
    padding: 0 0 0 2em;
    text-align: left;
  }
  .item-title {
    h4 {
      margin: 0.7em 0;
      color: $color-black;
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      font-size: 0.8em;
      letter-spacing: 1px;
      word-spacing: 1px;
    }
  }
  .item-tags {
    margin-bottom: 2em;
    margin-top: 0.6em;
  }
  .tags-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .tag-label {
    display: inline-block;
    padding: 0.4em 0.8em;
    font-size: 0.55em;
    background: $color-gray-light;
    color: $color-gray-dark;
    border-radius: 2px;
    margin-bottom: 0.5em;
  }
  .item-links {
    margin: 2em 0;
  }
  .item-block {
    padding: 1em 0;
    background-image: linear-gradient(to right, $color-gray-border 50%, rgba(255,255,255,0) 0%);
    background-position: top;
    background-size: 15px 1px;
    background-repeat: repeat-x;
    &:not(:last-child) {
    }
  }
  .original-post-link {
    padding: 0.5em 1em;
    font-size: 0.65em;
    background: $color-yellow-primary;
    color: $color-black;
    text-decoration: underline;
  }
  .item-tracklist {
    mighty-preloader {
      width: 100%;
      display: inline-block;
      text-align: center;
      font-size: 14px;
    }
  }
  .item-embed-content {
    iframe, object, embed {
      width: 100%;
    }
  }
}
