@import '~application.styl';

post-item {
  .post-item-wrapper {
    width: 80%;
    display: inline-block;
    max-width: 40em;
    margin-top: 3em;
    margin-bottom: 3em;
    background: $color-white-primary;
    border-radius: 5px;
    padding: 2em;
  }
  .item-left {
    width: 40%;
    display: inline-block;
  }
  .main-image {
    width: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .thumbnails {
    width: 100%;
    display: inline-block;
    margin-top: 1em;
    img {
      width: 45%;
      height: auto;
      opacity: 0.2;
      cursor: pointer;
      margin-bottom: 0.5em;
      transition: opacity 0.2s ease-in;
      &:hover {
        opacity: 1;
      }
      &:nth-child(odd){
        float: left;
      }
      &:nth-child(even){
        float: right;
      }
    }
  }
  .item-right {
    width: 59%;
    display: inline-block;
    vertical-align: top;
  }
  .item-content-wrapper {
    padding: 0 0 0 2em;
    text-align: left;
  }
  .item-title {
    h4 {
      {bold-text}
      margin: 0.7em 0;
      color: $color-black;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 1px;
      word-spacing: 1px;
    }
  }
  .item-tags {
    margin-bottom: 2em;
    margin-top: 0.6em;
  }
  .tags-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .tag-label {
    display: inline-block;
    padding: 0.4em 0.8em;
    font-size: 0.55em;
    background: $color-gray-light;
    color: $color-gray-dark;
    border-radius: 2px;
    margin-bottom: 0.5em;
  }
  .item-links {
    margin: 2em 0;
  }
  .item-block {
    padding: 1em 0;
    background-image: linear-gradient(to right, $color-gray-border 50%, rgba(255,255,255,0) 0%);
    background-position: top;
    background-size: 15px 1px;
    background-repeat: repeat-x;
    &:not(:last-child) {
    }
  }
  .original-post-link {
    padding: 0.5em 1em;
    font-size: 0.65em;
    background: $color-yellow-primary;
    color: $color-black;
    text-decoration: underline;
    display: inline-block;
    min-width: 20%;
  }
  .original-post-notification {
    color: $color-gray-dark;
    font-size: 0.45em;
    line-height: 1.4;
    display: inline-block;
    vertical-align: top;
    width: 60%;
  }
  .item-tracklist {
    mighty-preloader {
      width: 100%;
      display: inline-block;
      text-align: center;
      font-size: 14px;
    }
  }
  .item-embed-content {
    iframe, object, embed {
      width: 100%;
    }
  }
  .social-block-label {
    {thin-text}
    color: $color-gray-share-label;
    font-size: 0.6em;
    margin-right: 2em;
  }
  .share-button {
    margin-right: 0.7em;
  }
  @media (max-width: $breakpoints.$mobile-large) {
    .item-left, .item-right {
      width: 100%;
    }
    .item-content-wrapper {
      padding: 0;
    }
  }
  @media (max-width: $breakpoints.$tablet) {
    .original-post-notification {
      margin-top: 1em;
      width: 100%;
    }
  }
}
