<article class="row">
    <div class="post-item-wrapper">
        <div class="item-left">
            <div class="row main-image">
                <img src="<%= _.first(images) %>">
            </div>
            <% if(images.length > 1){ %>
            <div class="row thumbnails">
                <% _.forEach(images, function(image){ %>
                <img src="<%= image %>">
                <% }); %>
            </div>
            <% } %>
        </div>
        <div class="item-right">
            <div class="item-content-wrapper">
                <div class="row item-title">
                    <h4><%= title %></h4>
                </div>
                <div class="row item-tags">
                    <ul class="tags-list">
                        <% _.forEach(tags, function(tagname, index){ %>
                        <li class="tag-label"><%= tagname %></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="row item-links">
                    <a class="original-post-link" target="_blank" href="<%= url %>">Original post link</a>
                </div>
                <div class="row item-block item-tracklist">
                    <track-list>
                        <mighty-preloader/>
                    </track-list>
                </div>
                <% if(typeof embed !== "undefined" && embed.length > 0){ %>
                <% _.forEach(embed, function(embed_content){ %>
                <div class="row item-block embeded">
                    <div class="item-embed-content">
                        <%= embed_content %>
                    </div>
                </div>
                <% }); %>
                <% } %>
            </div>
        </div>
    </div>
</article>
