<div class="row">
    <div class="panel large-8 columns large-centered">
        <div class="row">
            <div class="title small-10 columns"><%= title %></div>
            <div class="url small-2 columns">
                <a href="<%= url %>">original post link</a>
            </div>
        </div>
        <div class="tags">
            <ul class="inline-list">
              <% _.forEach(tags, function(link, tagname){ %>
                <li class="label info"><%= tagname %></li>
              <% }); %>
            </ul>
        </div>
        <div class="images">
            <% _.forEach(images, function(image){ %>
            <img src="<%= image %>">
            <% }); %>
        </div>
    </div>
</div>
